// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-title {
  font-size: 30px;
  margin-left: 15px;
  margin-bottom: 50px;
}

.container {
  height: 300px;
}

.image {
  float: left;
  width: 20%
}

.content {
  float: right;
  width: 80%
}

.thumb {
  height: 60px;
  width: 40px;
}
