<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Nova Tarefa</h3>
  </div>
  <div class="panel-body">
    <%= render 'form', task: @task %>
    <%= link_to 'Voltar', tasks_path %>
  </div>
</div>

