<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
      <div class="jumbotron">
        <h1>Lista de tarefas!</h1>
        <p>Este é um exemplo de lista  de tarefas</p>
      </div>
    
      <%= yield %>
    <div>
  </body>
</html>
